$primary: #ff8a00;
$compBlue: #0075ff;
$titleBlue: #001e46;
$lightpry: #ffad50;

.app {
  display: flex;
  justify-content: center;
  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    // For Login and Register Page
    .auth {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      background-color: $primary;

      h1 {
        font-size: 20px;
        margin-bottom: 20px;
        color: white;
      }
      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: #fff;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid $lightpry;
        }
        button {
          padding: 10px;
          border: none;
          background-color: $compBlue;
          color: #fff;
          &:hover {
            background-color: white;
            cursor: pointer;
            color: $compBlue;
            border: 1px solid $compBlue;
            padding: 9px;
          }
        }
        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
          a {
            color: $compBlue;
            text-decoration: none;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }

    // NavBar
    .navbar {
      .container {
        padding: 10px 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logo {
          img {
            width: 300px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 10px;
          h6 {
            font-size: 16px;
            font-weight: 300;
            color: $lightpry;

            &:hover {
              cursor: pointer;
              color: $primary;
            }
          }
          span {
            cursor: pointer;
          }
          .log {
            background-color: $compBlue;
            color: #fff;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;

            &:hover {
              width: 48px;
              height: 48px;
              background-color: white;
              color: $compBlue;
              border: 1px solid $compBlue;
            }
          }
        }
      }
    }

    // Footer
    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $primary;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      img {
        width: 300px;
      }
      span {
        display: flex;
        align-items: center;
        gap: 10px;
        ul {
          display: flex;
          align-items: center;
          list-style: none;
          li {
            margin-right: 20px;

            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }

    // For Home Page
    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }
          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $primary;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }
            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }
          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
              font-size: 48px;
              color: $titleBlue;
            }
            p {
              font-size: 18px;
              font-weight: 300;
              color: gray;
            }
            button {
              padding: 10px 20px;
              width: max-content;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid $compBlue;
              color: $compBlue;

              &:hover {
                border: 1px solid white;
                background-color: $compBlue;
                color: white;
              }
            }
          }
        }
      }
    }

    // For Single Post Page
    .singlePost {
      display: flex;
      gap: 50px;
      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
          }
          span {
            font-weight: bold;
          }
        }
        .edit {
          display: flex;
          gap: 10px;
          img {
            border-radius: 0;
            width: fit-content;
            height: 20px;
            cursor: pointer;
          }
        }
        h1 {
          font-size: 48px;
          color: $titleBlue;
        }
        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: $lightpry;
        }
        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
          h2 {
            color: $lightpry;
          }
          button {
            padding: 7.5px 15px;
            width: max-content;
            border: none;
            cursor: pointer;
            background-color: white;
            border: 1px solid $compBlue;
            color: $compBlue;

            &:hover {
              border: 1px solid white;
              background-color: $compBlue;
              color: white;
            }
          }
        }
      }
    }

    // For Write Page
    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      color: $titleBlue;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 10px;

          h1 {
            font-size: 20px;
          }

          .file {
            color: $primary;

            &:hover {
              text-decoration: underline;
            }
          }
          .buttons {
            display: flex;
            justify-content: space-between;

            :first-child {
              cursor: pointer;
              background-color: $compBlue;
              color: white;
              border: 1px solid $compBlue;
              padding: 3px 5px;

              &:active {
                background-color: white;
                color: $compBlue;
              }
            }
            :last-child {
              cursor: pointer;
              background-color: white;
              color: $primary;
              border: 1px solid $primary;
              padding: 3px 5px;

              &:hover {
                background-color: $primary;
                color: white;
              }
            }
          }
          .cat {
            display: flex;
            align-items: center;
            color: $primary;
            gap: 2px;
          }
        }
      }
    }
  }
}
